# Core functionality - changes here should be rare!
/src/app.py                   @omaerkhan
/src/backend/database.py      @omaerkhan
/src/backend/routers/auth.py  @omaerkhan

# The frontend will need refactored soon to be more object oriented.
/src/static/   @omaerkhan
